<div class="form-group">
    <label>Building</label>
    <select asp-for="Input.BuildingId" asp-items="Model.Buildings" class="form-control"></select>
</div>

<div class="form-group">
    <label>Condo</label>
    <select asp-for="Input.CondoId" asp-items="Model.Condos" class="form-control"></select>
</div>